In [1]:
import pandas as pd

In [45]:
sal = pd.read_csv('./Salaries.csv', low_memory=False)

In [46]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [47]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

In [61]:
sal['BasePay'] = sal['BasePay'].replace('Not Provided', pd.NA)
sal['BasePay'] = sal['BasePay'].fillna(0)
sal['BasePay'] = sal['BasePay'].astype(float)
sal['BasePay'].mean()

66053.72928807836

In [68]:
sal['OvertimePay'] = sal['BasePay'].replace('Not Provided', pd.NA)
sal['OvertimePay'] = sal['OvertimePay'].fillna(0)
sal['OvertimePay'] = sal['OvertimePay'].astype(float)
sal['OvertimePay'].max()

319275.01

In [69]:
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

In [73]:
sal[sal['EmployeeName']=="JOSEPH DRISCOLL"]['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

In [78]:
sal.loc[sal['TotalPayBenefits'].idxmax()]['EmployeeName']

'NATHANIEL FORD'

In [80]:
sal.loc[sal['TotalPayBenefits'].idxmin()]

Id                                      148654
EmployeeName                         Joe Lopez
JobTitle            Counselor, Log Cabin Ranch
BasePay                                    0.0
OvertimePay                                0.0
OtherPay                               -618.13
Benefits                                  0.00
TotalPay                               -618.13
TotalPayBenefits                       -618.13
Year                                      2014
Notes                                      NaN
Agency                           San Francisco
Status                                      PT
Name: 148653, dtype: object

In [82]:
sal['BasePay'] = sal['BasePay'].replace('Not Provided', pd.NA)
sal['BasePay'] = sal['BasePay'].fillna(0)
sal['BasePay'] = sal['BasePay'].astype(float)
sal.groupby('Year')['BasePay'].mean()

Year
2011    63595.956517
2012    65436.406857
2013    68509.832156
2014    66557.437750
Name: BasePay, dtype: float64

In [88]:
sal['JobTitle'].nunique()

2159

In [94]:
sal['JobTitle'].value_counts().iloc[:5]

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

In [107]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [118]:
def chief_string(title):
    if 'chief' in title.lower():
        return True
    else:
        return False

In [123]:
len(sal[sal['JobTitle'].apply(lambda x: chief_string(x))])

627

In [124]:
sal['Tamanho da string'] = sal['JobTitle'].apply(len)
sal[['Tamanho da string', 'TotalPayBenefits']].corr()

                   Tamanho da string  TotalPayBenefits
Tamanho da string           1.000000         -0.036878
TotalPayBenefits           -0.036878          1.000000